@import "../../style/include";

$breadcrumbs-flex: 0 1 auto !default;
$breadcrumbs-padding: 18px 12px !default;
$breadcrumbs-even-child-padding: 0 12px !default;
$breadcrumbs-item-font-size: 14px !default;
$breadcrumbs-item-large-font-size: 16px !default;
$breadcrumbs-margin: 0 !default;
$breadcrumbs-padding: 0 14px !default;

@include theme(#{$prefix}breadcrumbs) using ($material) {
  .breadcrumb-divider, .breadcrumb-item-disabled, .#{$prefix}icon {
    color: map-metro-get($material, 'text', 'disabled')
  }
}

.#{$prefix}breadcrumbs {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: $breadcrumbs-flex;
  list-style-type: none;
  margin: $breadcrumbs-margin;
  padding: $breadcrumbs-padding;

  li {
    align-items: center;
    display: inline-flex;
    font-size: $breadcrumbs-item-font-size;

    .#{$prefix}icon {
      font-size: $breadcrumbs-item-large-font-size
    }

    &:nth-child(even) {
      padding: $breadcrumbs-even-child-padding
    }
  }

  .breadcrumb-item {
    align-items: center;
    display: inline-flex;
    text-decoration: none;
    transition: 0.3s $primary-transition;
    cursor: pointer;

    &-disabled {
      pointer-events: none
    }
  }
}
